.contenido-menu{
    
    display: flex;
    color: black;    
    padding: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    height: 50vh;    
}

.valor{
    color: black;
    font-size: 20px;
    justify-content: space-around;
    padding: auto;
}
body{
    margin: 0px;
}
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar-titulo{
    text-align: center;
    color:orange;
    font-style: arial;
    font-size: 40px;
}

.ver-comanda{
    text-align: center;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}
.pedido-container>.comandaContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pedido-container{
    width:60%;
    color: rgb(65, 57, 57);
    max-height: 88vh;
    background-color: black;
    margin: 0 20%;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color:none ;
    
}
.pedido-container::-webkit-scrollbar{
    display: none;
}

.pedido-header-title{
    color: rgb(173, 90, 60);
    padding: 1rem;
    margin: 3px;
    font-size: 30px;
    text-align: center;
}
div.pedido-content p{
    color: rgb(194, 109, 109);
    padding: 5px;
    font-size: 20px;
}
div.pedido-content h3{
    color: chocolate;
}
div.pedido-content img{
    width: 150px;
    height: 100px;
}
.pedido-header-button{
    color: chocolate;
    padding: 1rem;
    margin: 3px;
    font-size: 20px;
    text-align: center;
}
.fin-header-button{
    color: rgb(214, 156, 47);
    padding: 1rem;
    margin: 3px;
    font-size: 20px;
}

.platillos{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
}
.platillos>img{
    width: 177px;
    height: 120px;
}
.valor{
    color: rgb(56, 53, 53);
    font-size: 25px;
}

.total-content{  
    font-size: 30px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    color: chocolate;
}

.banner{
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-image: linear-gradient(orange, red);
}
.banner-container{
    text-align: center;
    padding: 15% 0;
}
.banner h1{
    margin: 0;
    text-align: center;
    color: chocolate;
    text-shadow: 1px 1px 3px black;
    font-size: 62px;
    font-weight: bold;
}

.banner p{
    color: orange;
    font-size: 20px;
    margin: 20px;
    opacity: 0.7;
    text-shadow: 1px 1px 3px blue;
    
}

.comprar{
    color: rgb(180, 123, 17);
    background-color:beige;
    border-color: orange;
    border-radius: 4px;
    cursor: pointer;
}
.comprar:hover{
    opacity: 0.7;
}
.delete-plato{
    cursor: pointer;
}
.sumar{
    cursor: pointer;
}
.restar{
    cursor: pointer;
}
.fin-header-button{
    cursor: pointer;
}
.pedido-header-button{
    cursor: pointer;
}
.restar{
    color: chocolate;
    font-size: 25px;
}
.sumar{
    color: chocolate;
    font-size: 25px;
}
.delete-plato{
    color: chocolate; 
    font-size: 25px;
}
.users{
    margin: 15px;
    padding: 30px;
}
.users h1{
    font-size: 10px;
}
.users p{
    font-size: 10px;
}



